#root {
  animation-name: root-animate;
  animation-duration: 1s;
}

.navigation {
  animation-name: background-animate;
  animation-duration: 2s;
}
.navigation .paginator {
  animation-name: image-animate;
  animation-duration: 2s;
}
.navigation .paginator h1 {
  animation-name: number-animate;
  animation-duration: 3s;
}

.cover-page h1 {
  animation-name: title-animate;
  animation-duration: 3s;
}
.cover-page h3 {
  animation-name: subtitle-animate;
  animation-duration: 5s;
}
.cover-page p {
  animation-name: content-animate;
  animation-duration: 7s;
}
.cover-page button {
  animation-name: button-animate;
  animation-duration: 9s;
}

#content {
  animation-name: content2-animate;
  animation-duration: 1s;
}

@keyframes image-animate {
  from {
    background-position: #fff;
  }
  to {
    color: #000;
  }
}
@keyframes title-animate {
  from {
    color: #fff;
  }
  to {
    color: #000;
  }
}
@keyframes subtitle-animate {
  from {
    color: #fff;
  }
  to {
    color: #8a8a8a;
  }
}
@keyframes content-animate {
  from {
    color: #fff;
  }
  to {
    color: #333;
  }
}
@keyframes button-animate {
  from {
    background-color: #fff;
    color: #fff;
  }
  to {
    background-color: #f00;
    color: #fff;
  }
}
@keyframes number-animate {
  from {
    right: -10vw;
    color: #000;
  }
  to {
    right: -4vw;
    color: #fff;
  }
}
@keyframes background-animate {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}
@keyframes root-animate {
  from {
    position: relative;
    left: 1000px;
  }
  to {
    position: relative;
    left: 0px;
  }
}
@keyframes content2-animate {
  from {
    position: relative;
    right: 1000px;
  }
  to {
    position: relative;
    right: 0px;
  }
}
html,
body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: "Josefin Sans", sans-serif;
  overflow: hidden;
  background-color: #000;
}

#root {
  display: flex;
  min-width: 100%;
  background-color: #fff;
}

section {
  margin: 0;
  padding: 0;
  max-width: 50% !important;
  width: 50%;
  display: flex;
}

.navigation {
  color: #fff;
  align-items: flex-end;
}
.navigation .paginator {
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navigation .paginator h1 {
  padding: 0;
  margin: 0;
  font-size: 22em;
  position: relative;
  right: -4vw;
  bottom: -12vh;
  z-index: 1000;
}
.navigation .paginator span {
  padding: 2vw;
}
.navigation .paginator a {
  color: #fff;
  text-decoration: none;
}
.navigation .paginator a:hover {
  border-bottom: 2px solid #f00;
}

#nav-1 {
  background: #000 url("img/darkness.jpg") no-repeat right;
}

#nav-2 {
  background: #000 url("img/mrRobot.jpeg") no-repeat right;
}

#nav-3 {
  background: #000 url("img/darkness-as-me.jpg") no-repeat center;
}

.cover-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16vh;
  background-color: #fff;
  z-index: 1001;
}
.cover-page h1 {
  font-size: 6em;
  padding: 0;
  margin: 0;
}
.cover-page h3 {
  color: #8a8a8a;
  padding: 0;
  margin: 0;
}
.cover-page button {
  background-color: #f00;
  color: #fff;
  border: none;
  width: 16vw;
  height: 5vh;
  font-weight: bold;
  font-size: 1.2em;
  transition: width 0.2s, background-color 0.2s;
  transition-timing-function: ease;
}
.cover-page button:hover {
  box-shadow: 2px 2px 5px #666666;
  cursor: pointer;
  width: 18vw;
  background-color: #920b0b;
}
.cover-page p {
  margin: 0;
  padding: 5vw;
  font-size: 1.5em;
  text-align: center;
  color: #333;
}
.cover-page #home {
  position: absolute;
  top: 2vh;
  right: 5vw;
  text-decoration: none;
  color: #8a8a8a;
}
.cover-page #home:hover {
  border-bottom: 2px solid #f00;
  color: #333;
}

#content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  z-index: 2000;
  position: relative;
  background-color: #fff;
}
#content section {
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
}
#content section h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
}
#content section h3 {
  color: #666;
  margin-bottom: 5vh;
}
#content section p {
  text-align: justify;
  padding: 0 25vh;
}
#content .content-page {
  max-width: 75% !important;
  width: 75%;
  padding: 0 10vh;
  margin-bottom: 10vh;
}
#content .content-page a {
  text-decoration: none;
  color: #000;
  position: absolute;
  bottom: 10vh;
}
#content .content-page a:hover {
  border-bottom: 2px solid #f00;
}
#content .navigation-content {
  width: 25%;
  height: 100%;
  color: #fff;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
#content .navigation-content .number-content {
  padding: 0;
  margin: 0;
  font-size: 16em;
  position: relative;
  z-index: 1000;
}
#content .navigation-content span {
  position: relative;
  bottom: 0px;
}
#content .navigation-content a {
  color: #fff;
  text-decoration: none;
}
#content .navigation-content a:hover {
  border-bottom: 2px solid #f00;
}

/*# sourceMappingURL=style.css.map */
