@import '_variables';
@import '_animations';

html,
body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: $font-stack;
    overflow: hidden;
    background-color:#000;
}

#root {
    display: flex;
    // display:none;
    min-width: 100%;  
    background-color:#fff;  
}

section {
    margin: 0;
    padding: 0;
    max-width: 50% !important;
    width:50%;
    display: flex;
}

.navigation {
    color: $second-bg-color; 
    align-items:flex-end;

    .paginator{
        width:100%;
        align-items:flex-end;
        display: flex;
        flex-direction: row;
        justify-content:space-between;

        h1{    
            padding:0;
            margin:0; 
            font-size: 22em;
            position:relative;
            right:-4vw;
            bottom:-12vh;
            z-index:1000;
        }  

        span{
            padding:2vw;
        }

        a{
            color:#fff;
            text-decoration: none;
        }

        a:hover{
            border-bottom: 2px solid $button-bg-color;
        }
    } 
}

#nav-1{
    background: #000 url('img/darkness.jpg') no-repeat right; 
}

#nav-2{
    background: #000 url('img/mrRobot.jpeg') no-repeat right; 
}

#nav-3{
    background: #000 url('img/darkness-as-me.jpg') no-repeat center; 
}

.cover-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:16vh;
    background-color: #fff;
    z-index:1001;

    h1{
        font-size:6em;
        padding:0;
        margin:0;
    }

    h3{
        color:$third-color;
        padding:0;
        margin:0;
    }

    button{
        background-color: $button-bg-color;
        color:#fff;
        border:none;
        width:16vw;
        height: 5vh;
        font-weight: bold;
        font-size:1.2em;
        transition: width 0.2s, background-color 0.2s;
        transition-timing-function: ease;
    }

    button:hover{
        box-shadow: 2px 2px 5px #666666;
        cursor: pointer;
        width:18vw;
        background-color:#920b0b;
    }

    p{
        margin:0;
        padding:5vw;
        font-size:1.5em;
        text-align: center;
        color:#333; 
    }

    #home{
        position:absolute;
        top:2vh;
        right:5vw;
        text-decoration: none;
        color:$third-color;        
    }

    #home:hover{
        border-bottom: 2px solid $button-bg-color;
        color:#333;
    }
}

#content{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    z-index: 2000;
    position:relative;
    background-color: #fff;

    section{
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items: center;   
            // max-width: 50% !important;
            // width:50%;     

        h1{
            font-size:3em;
            margin: 0;
        padding: 0;
        }

        h3{
            color:#666;
            margin-bottom: 5vh;
        }

        p{
            text-align: justify;
            padding: 0 25vh;
        }
    }

    .content-page{
        max-width: 75% !important;
        width:75%;
        padding: 0 10vh;
        margin-bottom: 10vh;

        a{
            text-decoration: none;
            color:#000;
            position: absolute;
            bottom:10vh;
        }

        a:hover{
            border-bottom:2px solid #f00;
        }
    }

    .navigation-content{
        width:25%;
        height: 100%;
        color: $second-bg-color; 
        align-items:flex-end;
        flex-direction: row;
        justify-content:space-between;

        .number-content{    
            padding:0;
            margin:0; 
            font-size: 16em;
            position:relative;
            z-index:1000;
            // bottom:0px;
        } 

        span{
            position:relative;
            bottom:0px;
        }

        a{
            color:#fff;
            text-decoration: none;
        }

        a:hover{
            border-bottom: 2px solid $button-bg-color;
        }
    }
}

