$font-stack: 'Josefin Sans', sans-serif;
$primary-bg-color:#000;
$second-bg-color:#fff;  
$button-bg-color:#f00;
$third-color:rgb(138, 138, 138);

html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: $font-stack;
    overflow: hidden;
}

#root {
    display: flex;
    min-width: 100%;  
}

section {
    margin: 0;
    padding: 0;
    max-width: 50% !important;
    width:50%;
    display: flex;
}

#navigation, #navigation-2, #navigation-3 {
    background: #000 url('img/darkness.jpg') no-repeat right; 
    color: $second-bg-color; 
    align-items:flex-end;

    .content{
        width:100%;
        align-items:flex-end;
        display: flex;
        flex-direction: row;
        justify-content:space-between;

        h1{    
            padding:0;
            margin:0; 
            font-size: 22em;
            position:relative;
            right:-4vw;
            bottom:-12vh;
            z-index:1000;
        }  

        span{
            padding:2vw;
        }

        a{
            color:#fff;
            text-decoration: none;
        }

        a:hover{
            border-bottom: 2px solid $button-bg-color;
        }
    } 

}

#navigation-2{
    background: #000 url('img/mrRobot.jpeg') no-repeat right; 
}

#navigation-3{
    background: #000 url('img/darkness-as-me.jpg') no-repeat center; 
}



#content, #content-2, #content-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:16vh;

    h1{
        font-size:6.5em;
        padding:0;
        margin:0;
    }

    h3{
        color:$third-color;
        padding:0;
        margin:0;
    }

    button{
        background-color: $button-bg-color;
        color:#fff;
        border:none;
        width:16vw;
        height: 5vh;
        font-weight: bold;
        font-size:1.2em;
        font-stretch: ultra-expanded;
    }

    button:hover{
        box-shadow: 2px 2px 5px #a1a1a1;
        cursor: pointer;
    }

    p{
        margin:0;
        padding:5vw;
        font-size:1.5em;
        text-align: center;
        color:#333;
    }

    #home{
        position:absolute;
        top:2vh;
        right:5vw;
        text-decoration: none;
        color:$third-color;
    }
    #home:hover{
        border-bottom: 2px solid $button-bg-color;
        color:#333;
    }
}

#content-2{
    h1{
        font-size:6em;
    }    
}