$font-stack: 'Josefin Sans', sans-serif;
$primary-bg-color:#000;
$second-bg-color:#fff;  
$button-bg-color:#f00;
$third-color:rgb(138, 138, 138);

html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: $font-stack;
    overflow: hidden;
}

#root {
    display: flex;
    min-width: 100%;      
}

section {
    margin: 0;
    padding: 0;
    max-width: 50% !important;
    width:50%;
    display: flex;
}

#navigation, #navigation-2, #navigation-3 {
    background: #000 url('img/darkness.jpg') no-repeat right; 
    color: $second-bg-color; 
    align-items:flex-end;

    .content{
        width:100%;
        align-items:flex-end;
        display: flex;
        flex-direction: row;
        justify-content:space-between;

        h1{    
            padding:0;
            margin:0; 
            font-size: 22em;
            position:relative;
            right:-4vw;
            bottom:-12vh;
            z-index:1000;
            animation-name: number-animate;
            animation-duration: 2s;
        }  

        span{
            padding:2vw;
        }

        a{
            color:#fff;
            text-decoration: none;
        }

        a:hover{
            border-bottom: 2px solid $button-bg-color;
        }
    } 

}

#navigation-2{
    background: #000 url('img/mrRobot.jpeg') no-repeat right; 
}

#navigation-3{
    background: #000 url('img/darkness-as-me.jpg') no-repeat center; 
}



#content, #content-2, #content-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:16vh;

    h1{
        font-size:6.5em;
        padding:0;
        margin:0;
        animation-name: title-animate;
        animation-duration: 2s;
    }

    h3{
        color:$third-color;
        padding:0;
        margin:0;
        animation-name: subtitle-animate;
        animation-duration: 3s;
    }

    button{
        background-color: $button-bg-color;
        color:#fff;
        border:none;
        width:16vw;
        height: 5vh;
        font-weight: bold;
        font-size:1.2em;
        transition: width 0.2s, background-color 0.2s;
        transition-timing-function: ease;
        animation-name: button-animate;
        animation-duration: 5s;
    }

    button:hover{
        box-shadow: 2px 2px 5px #666666;
        cursor: pointer;
        width:18vw;
        background-color:#920b0b;
    }

    p{
        margin:0;
        padding:5vw;
        font-size:1.5em;
        text-align: center;
        color:#333;
        animation-name: content-animate;
        animation-duration: 4s;
    }

    #home{
        position:absolute;
        top:2vh;
        right:5vw;
        text-decoration: none;
        color:$third-color;        
    }

    #home:hover{
        border-bottom: 2px solid $button-bg-color;
        color:#333;
    }
}

#content-2{
    h1{
        font-size:6em;
    }    
}

@keyframes title-animate {
    from {color: #fff;}
    to {color: $primary-bg-color;}
}

@keyframes subtitle-animate {
    from {color: #fff;}
    to {color: $third-color;}
}

@keyframes content-animate {
    from {color: #fff;}
    to {color: #333;}
}

@keyframes button-animate {
    from {
        background-color: #fff;
        color: #fff;
    }
    to {
        background-color: #f00;
        color: #fff;
    }
}

@keyframes number-animate{
    from{
        right:-20vw;
    }
    to{
        right:-4vw;
    }
}